
.fav-main {
    max-width: 96.93vw;
    margin: 0 auto;
    padding: 1.62vw;
    min-height: 80vh;
}

.fav-not-found-msg {
    text-align: center;
    color: #b3b3b3;
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 4.04vw;
}

.fav-countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22.62vw, 1fr)); 
    gap: 2.42vw;
    padding: 2.42vw 0;
}

.fav-country-card {
    background-color: #1e293b;
    border-radius: 0.97vw;
    overflow: hidden;
    position: relative; 
    box-shadow: 0 0.32vw 1.21vw rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.fav-country-card:hover {
    transform: translateY(-0.4vw);
    box-shadow: 0 0.65vw 2.02vw rgba(0, 0, 0, 0.5);
}


.fav-country-card .fav-heart-btn {
    position: absolute;
    top: 0.6vw;
    right: 0.97vw;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(4px);
    border: none;
    font-size: 1.45vw;
    width:2.91vw;
    height: 2.91vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.fav-country-card .fav-heart-btn:hover {
    transform: scale(1.15);
    background: rgba(0, 0, 0, 0.8);
}

.fav-country-flag {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    border-bottom: 0.08vw solid #2d3748;
}

.fav-country-details {
    padding: 1.62vw;
    color: #f8fafc;
}

.fav-country-details h3 {
    margin: 0 0 0.97vw 0;
    font-size: 1.62vw;
    font-weight: 600;
}

.fav-country-details p {
    margin: 0.48vw 0;
    font-size: 1.13vw;
    color: #cbd5e1;
}

.favorite-input {
    text-align: center;
    color: #ffffff;
    margin-top: 3.3vw;
    margin-bottom:1.62vw ; 
    font-size: 2vw; 
    font-weight: 700; 
    
}