.countries-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vw;
    margin-top: 2vw;
}

.country-card {
    border: 0.16vw solid white;
    width: 23vw;
    padding: 2vw;
    text-align: center;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; 
}

.country-card:hover {
    transform: translateY(-0.81vw);
    box-shadow: 0px 0.81vw 1.62vw rgba(255, 255, 255, 0.2);
}


.heart-btn {
    position: absolute;
    top:0.3vw;
    right: 0.4vw;
    background: transparent;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.heart-btn:hover {
    transform: scale(1.2); 
}

.country-flag {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}

.country-details {
    padding: 1.62vw;
}

.country-details h3 {
    margin-bottom: 0.97vw;
    font-size: 1.5vw;
    font-weight: 700;
    color: #f8fafc;
}

.country-details p {
    font-size: 0.9vw;
    color: #cbd5e1;
    margin-bottom: 0.48vw;
}

.country-details strong {
    color: #94a3b8;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.85vw 0;
}

.show-more-btn {
    background-color: transparent;
    color: white;
    border: 0.16vw solid white;
    padding: 0.97vw 2.83vw;
    font-size: 1.45vw;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2.42vw;
    transition: all 0.3s ease;
}

.show-more-btn:hover {
    background-color: white;
    color: #0f172a;
    transform: scale(1.05);
    box-shadow: 0px 0px 1.21vw rgba(255, 255, 255, 0.3);
}

.not-found-msg {
    font-size: 1.94vw;
    color: #94a3b8;
    text-align: center;
    margin-top: 6.46vw;
}